.post-button{
  width: 30vw;
	background-color: white;
  color: black;
  padding: 0;
  border: none;
  background: none;
}

.post-button:hover {
  background-color: grey;
  color: white;
  padding: 0.5px;
  border: 1px;
}

.padding-top{
  padding-top: 2vh;
}

.header-background{
  background-color:lightgray;
}

.padding-header{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.display-flex{
  display: inline-flex;
  align-content:flex-start;
}

.resize{
  object-fit: cover;
  object-position: center;
  height: 13vh;
  width: 13vw;
}

.text{
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  word-wrap: break-word;
  padding-left: 1vw;
  padding-right: 1vw;
}

