.padding-bottom{
  padding-bottom: 3vh;
}

.content{
  white-space: pre-wrap;
  padding-left: 2vw;
  padding-right: 2vw;
}

.display-inline{
  display: inline;
}

.padding-button{
  margin-bottom: 1vh;
  margin-left: 1vw;
}
