.display-inline{
  display: inline;
}

.header-background{
  background-color:lightgray;
}

.padding-header{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padding-button{
  margin-bottom: 2vh;
  margin-left: 1vw;
}
