.profile{
  background-color: white;
  font-family: Century Gothic, sans-serif;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
  0 4px 20px 0 rgba(0,0,0,0.19);
}

.profile-image{
  width: 100%;
}

.content{
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}

.font{
  font-size: 1vw;
  font-family: Century Gothic, sans-serif;
}

