/* You can add global styles to this file, and also import other style files */
html{
	box-sizing: border-box;
}

h1{
  padding-left: 1vw;
}

button{
  text-align: center;
  font-size: 1vw;
  font-family: Century Gothic, sans-serif;
}

.tag-button{
	background-color: black;
	color: white;
	font-size: 14px;
  height: 4vh;

  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
}

.tag-button:hover{
	background-color: white;
  color: black;
  border: 0.1em solid black;
}

.card-outline{
  background-color: white;
  font-family: Century Gothic, sans-serif;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
  0 4px 20px 0 rgba(0,0,0,0.19);
}

.font{
  font-size: 1vw;
  font-family: Century Gothic, sans-serif;
}

.width-100{
  width: 100%;
}




