/* You can add global styles to this file, and also import other style files */
html{
	box-sizing: border-box;
}

h1{
  padding-left: 1vw;
}

button{
  text-align: center;
  font-size: 1vw;
  font-family: Century Gothic, sans-serif;
}

